.animElmUn {
    animation : animElmUn 1 infinite;
}

@keyframes animElmUn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animElmDeux {
    animation : animElmDeux 1 infinite;
}

@keyframes animElmDeux{
    from {
        color: red;
        font-size: 12px;
    }
    to {
        color: blue;
        font-size: 25px;
    }
}